body {
    background-color: #e7e7e7;
  }
  
  #main-navigation {
    background-color: #390281;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
#comments {
    margin: 10rem auto;
    width: 90%;
    max-width: 60rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem 2rem;
    position: relative;
  }
  
  #comments ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #comments li {
    margin-bottom: 1rem;
  }
  
  #comments li:last-of-type {
    border-bottom: none;
  }
  
  #comments h2 {
    color: #464646;
  }

